.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF;
}

.botao-lilas:hover {
    background-color: #000000;
}

.verde-limao {
    color: #DAFF01;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}

@media(max-width: 330px) {

    .container {
        width: 95%;
    }

    .divs-facilidades {
        width: 80%;
    }

}